<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Realestate | Reserve Appointement</title>
		<link rel="stylesheet" th:href="@{ /css/nav_bar.css }">
		<link rel="stylesheet" th:href="@{ /css/homepage.css }">
		<link rel="stylesheet" th:href="@{ /css/new_appointements.css }">
		<link rel="stylesheet" th:href="@{ /css/messages.css }">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<nav>
								
					<ul>
						<li>
							<div class="profile_infos">
					
								<img class="profile_picture" th:src="@{ '/images/client/' + ${client.profile_pic} }" />
								
								<p class="profile_name">
									<span th:text="${ client.username }"></span>
									<span class="gear fa fa-gear"></span>
								</p>
								
								<div class="profile_dropdown_menu">
									<div class="item">
										<a th:href="'/client_profile/'+${ client.id }">
											<span class="fa fa-user"></span>Profile
										</a>
									</div>
									<div class="item">
										<a href="/logout">
											<span class="fa fa-sign-out"></span>Logout
										</a>
									</div>							
								</div>
							</div>
						</li>
						
						<div class="links client">
							<li><a href="/homepage">Home</a></li>
							<li><a href="/my_appointements">My appointements</a></li>
							<li><a href="/my_favorites">My favorites</a></li>
							<li><a href="/wish_list">My Wishlist</a></li>
							<li class="notification_link"><a>Notifications <span th:if="${ notification_nbr != 0 }" class="notification_nbr" th:text="${ notification_nbr }" ></span></a></a></li>
						</div>

						
					</ul>				
				</nav>
				
				<div th:class="'notifications '+((${ notifications.size() == 0 } )? 'no_notif' : '')">
					
					<div th:if="${ notifications.size() == 0} ">
						<p class="simple_notif empty_notif">You don't have any notification.</p>
					</div>
					
					<div  th:each="notification : ${ notifications }" th:class="'simple_notif simple_notif_'+${notification.id} +' '+ ((${ notification.viewed } )? 'viewed' : 'not_viewed')" >
						<p class="time" th:text="'Notification at: '+ ${ notification.notification_time.toString().substring(0, 19) }" ></p>
						<p class="message" th:text="${ notification.message }" ></p>
						<p class="more">see details</p>
						
						<div th:class="'detailed_notif detailed_notif_'+${notification.id}">
							<p>
							
							<span class="title">Appointement:</span>
							
								
								<a> 
								<form method="post" action="/my_appointements">
									<input type="hidden" name="date" th:value="${ notification.get_appointement_date() }">
									<input type="submit" th:value="'The '+ ${ notification.appointement_time } + ' of ' + ${ notification.get_appointement_date() }" />
									<span class="fa fa-external-link"></span>
									</form>
									</a>
								
								
								
								</p>
							<p><span class="title">Lodgement:</span><a  title="visite lodgement details" target="_blank" th:href="'lodgement_details/'+${ notification.id_lodgement }"> <span th:text="${ notification.lodgement_type }"></span> in <span th:text="${ notification.lodgement_address }"></span><span class="fa fa-external-link"></span></a></p>
							<p><span class="title">Agent:</span> <a title="visite this agent account" target="_blank" th:href="'agent_profile/'+${ notification.id_agent }"> <span th:text="${ notification.agent_username }"></span><span class="fa fa-external-link"></span></a></p>
						</div>
						
					
					
					</div>
												
				</div>
				
			</header>
			<section>
				

				<p th:class="'message '+${{ type }}" th:text="${{ message }}"></p>
				<p class='title'>Reserve an appointements:</p>
				
				
				<div class="propose_appointement">
					<h2>Propose an appointement:</h2>
					
					<form method="post" action='/propose_appointement'>
						
						<input class="id_lodgement" name="id_lodgement" type="hidden" th:value="${{ id_lodgement }}"  readonly/>
						
						<label for="date">Date:</label>
						<input id="date" class="proposed_date" name="date" type="date" th:attr="min=${{ today }}" />
						
						
						<label for="time">Time:</label>
						<select id="time" class="proposed_time" name="half">
							<option value="morning">Morning</option>
							<option value="evening">Evening</option>
						</select> 
						
						<label for="id_agent">Agent:</label>
						<select id="id_agent" name="id_agent" class="agents client">
							<option th:each="agent : ${ avail_agents }" th:attr="value=${{ agent.id }}" th:text="${{ agent.username }}"></option>
						</select>
						<a class="external_link" href="agent_profile" target="_blank">
							visit profile
							<span class="fa fa-external-link"></span>
						</a>
					
						<input class="link propose" type="submit" value="propose">
						
					</form>
				</div>	
				<div style="clear:both"></div>
				
				<h2 class="choose">Choose an appointement:</h2>
				<table>
					<thead>
					<tr> 
						<td>Date</td>
						<td>Time</td>
						<td>Agent</td>
						<td>Reserve</td>
					</tr>
				 </thead>
				 <tbody>
					<tr th:each="appointement : ${ avail_appointements }" > 
						
						<form method="post" action="reserve_appointement">
							
							<td class="hidden"><input class="id_lodg" type="hidden" name="id_lodg" th:value="${{ id_lodgement }}" /></td>
							<td> <input class="readonly" type="text" name="date" th:attr="value=${{ appointement.date }}" readonly/></td>
							<td> <input class="readonly" type="text" name="half" th:attr="value=${{ appointement.half }}" readonly/></td>
							
							<td >
								<select name="id_agent">
									<option th:each="agent : ${ appointement.agents }" th:attr="value=${{ agent.id }}" th:text="${{ agent.username }}"></option>
								</select>
								<a class="external_link" href="agent_profile" target="_blank">
									visit profile
									<span class="fa fa-external-link"></span>
								</a>
							</td>
							<td class="reserve link"><input type="submit" value="reserve now" /></td>
						
						</form>
					</tr>				
				<tbody>	
				</table>
					
				
			</section>
			<footer></footer>
			
		</div>
		
		<script type="text/javascript" th:src="@{ /js/new_appointement.js }"></script>
		<script type="text/javascript" th:src="@{ /js/profile_infos.js }"></script>
		<script type="text/javascript" th:src="@{ /js/notification.js }"></script>
	</body>
</html>